@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

.rodape{
    width: 100%;
    height: 60px;
    background-color: #2662C8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid_rodape{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid_rodape > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: white;
}

.img_rodape{
    width: 50px;
}

.img_rodape:hover{
    /* box-shadow: 0 0 1em rgba(0, 0, 0, 0.363); */
    transition: 0.3s;
    transform: scale(1.1);
}

.links_rodape{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 415px){
    .rodape{
        height: 120px;
    }

    .grid_rodape{
        width: 95%;
        flex-direction: column;
    }

    .grid_rodape > p{
        font-size: 13px;
    }

    .links_rodape{
        width: 75%;
    }
}

@media screen and (max-width: 380px){
    .rodape{
        height: 120px;
    }

    .grid_rodape{
        width: 95%;
        flex-direction: column;
    }

    .grid_rodape > p{
        font-size: 10px;
    }

    .links_rodape{
        width: 65%;
    }
}